.filterbox {
  display: block;
  font-size: 20px;
  margin: 10px;
  color: rgb(112, 9, 9);

  .filterbox__input{
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
  }

  label {
    margin-left: 10px;
  }
}