
.navbar {
  padding-left: 10px;
  background-color: rgb(145, 105, 32);

  .navbar__searchbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    
  }

  .navbar__filter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


@media screen and (min-width: 768px) {
  
  .navbar {
    outline: unset;
  }
}